<div>
  <div class="mt-8">
    <h1 class="text-xl font-semibold leading-tight text-gray-700">
      <%= t(".title")%>
    </h1>
    <div class="flex flex-col mt-6">
      <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="flex px-4 py-4 space-x-4 overflow-x-auto bg-white rounded-md">
          <%= link_to t(".invite"), new_user_invitation_path, class: "px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500" %>
        </div>

        <div class="inline-block min-w-full overflow-hidden align-middle mt-4 border-b border-gray-200 shadow sm:rounded-lg" >
          <table class="min-w-full">
            <thead class="border-b">
              <tr>
                <th class="px-5 py-3 text-sm font-medium text-left text-gray-100 uppercase bg-indigo-800">
                  Name
                </th>
                <th class="px-5 py-3 text-sm font-medium text-left text-gray-100 uppercase bg-indigo-800">
                  Email
                </th>
                <th class="px-5 py-3 text-sm font-medium text-left text-gray-100 uppercase bg-indigo-800">
                  Confirmed?
                </th>
                <th class="px-6 py-3 bg-indigo-800 border-b border-gray-200"></th>
              </tr>
            </thead>

            <tbody class="bg-white">
              <% @collaborators.each do |collaborator|%>
                <tr>
                  <td class="px-6 py-4 border-b border-gray-200 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium leading-5 text-gray-900">
                          <%= collaborator.name %>
                        </div>
                        <div class="text-sm leading-5 text-gray-500">
                        </div>
                      </div>
                    </div>
                  </td>

                  <td class="px-6 py-4 border-b border-gray-200 whitespace-nowrap">
                    <div class="text-sm leading-5 text-gray-900">
                     <%= collaborator.email %>
                    </div>
                  </td>

                  <td class="px-6 py-4 border-b border-gray-200 whitespace-nowrap">
                    <%= status_tag(collaborator.invitation_accepted?) %>
                  </td>

                  <td class="px-6 py-4 text-sm font-medium leading-5 text-right border-b border-gray-200 whitespace-nowrap">
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
