<header class="flex items-center justify-between px-6 py-4 bg-white border-b-4 border-indigo-600">
  <div class="flex items-center">
    <button @click="isOpen = true" class="text-gray-500 focus:outline-none lg:hidden">
      <%= svg("bars3", class: "w-6 h-6") %>
    </button>

    <div class="relative mx-4 lg:mx-0">
      <span class="absolute inset-y-0 left-0 flex items-center pl-3">
        <%= svg("magnifying_glass", class: "w-5 h-5 text-gray-500") %>
      </span>

      <input class="w-32 pl-10 pr-4 text-indigo-600 border-gray-200 rounded-md sm:w-64 focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500" type="text" placeholder="<%= t(".search_placeholder") %>" />
    </div>
    <div class="relative mx-4 px-2 lg:mx-0">
      <span class="font-semibold">
        <%= t('workspace')%>:
      </span>
      <%= Current.account&.short_name %>
    </div>
  </div>

  <div class="flex items-center">
    <button class="flex mx-4 text-gray-600 focus:outline-none">
      <%= svg("bell", class: "w-6 h-6") %>
    </button>

    <div class="relative" data-controller="menu">
      <button class="relative z-10 block w-8 h-8 overflow-hidden rounded-full shadow focus:outline-none" data-action="click->menu#toggle">
        <img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=296&q=80" alt="Your avatar" />
      </button>

      <div class="fixed inset-0 z-10 w-full h-full hidden" data-menu-target="clearfix"></div>

      <transition enter-active-class="transition duration-150 ease-out transform" enter-from-class="scale-95 opacity-0" enter-to-class="scale-100 opacity-100" leave-active-class="transition duration-150 ease-in transform" leave-from-class="scale-100 opacity-100" leave-to-class="scale-95 opacity-0">
        <div class="absolute right-0 z-20 w-48 py-2 mt-2 bg-white rounded-md shadow-xl hidden" data-menu-target="options">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white">
              Profile
            </a>
            <% if Current.user.collaborator? %>
              <span class="block px-4 py-2 text-sm font-medium text-gray-800 border-t border-indigo-600">
                <%= t("workspaces") %>
              </span> 
              <% Current.user.get_accounts.each do |a| %>
                <%= workspace_link a %>
              <%end%>
            <% end %>
            <%= link_to t(".log_out"), destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white" %>
        </div>
      </transition>
    </div>
  </div>
</header>
