  <div class="flex">
  <div class="hidden fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden"></div>
  <div class="-translate-x-full ease-in fixed inset-y-0 left-0 z-30 w-64 overflow-y-auto transition duration-300 transform bg-gray-900 lg:translate-x-0 lg:static lg:inset-0">
    <div class="flex items-center justify-center mt-8">
      <%= link_to account_path(Current.account),  class: "flex items-center" do %>
        <%= svg("flame", class: "w-12 h-12") %>
        <span class="mx-2 text-2xl font-semibold text-white">
          <%= t("app_name") %>
        </span>
      <% end %>
    </div>

    <nav class="mt-10">
      <% if Current.account == current_user.account %>
        <%= link_to account_path(Current.account) , class: link_class(account_path(Current.account)) do %>
          <%= svg("chart_pie", class: "w-5 h-5") %>
          <span class="mx-4"><%= t("dashboard") %></span>
        <% end %>

        <%= link_to account_clients_path(Current.account), class: link_class(account_clients_path(Current.account)) do %>
          <%= svg("clients", class: "w-5 h-5") %>
          <span class="mx-4"><%= t(".clients") %></span>
        <% end %>

        <%= link_to account_collaborators_path(Current.account), class: link_class(account_collaborators_path(Current.account)) do %>
          <%= svg("clients", class: "w-5 h-5") %>
          <span class="mx-4"><%= t(".collaborators") %></span>
        <% end %>
      <% else %>

        <%= link_to account_path(Current.account), class: link_class(account_path(Current.account)) do %>
          <%= svg("chart_pie", class: "w-5 h-5") %>
          <span class="mx-4"><%= t("dashboard") %></span>
        <% end %>
      <% end %>
    </nav>
  </div>
</div>
