<%= form_with model: client do |form| %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
    <% client.errors.full_messages_for(:first_name).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :last_name %><br/>
    <%= form.text_field :last_name %>
    <% client.errors.full_messages_for(:last_name).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br/>
    <%= form.text_field :email %>
    <% client.errors.full_messages_for(:email).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :phone %><br/>
    <%= form.text_field :phone %>
    <% client.errors.full_messages_for(:phone).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit  class: 'btn-lg-blue' %>
  </div>
<% end %>