<div class="w-full">
  <div class="flex justify-around items-center">
    <h1 class="font-bold text-4xl">Clients</h1>
    <%= link_to 'New Client', new_client_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="clients p-10 grid grid-cols-4 gap-5">
    <% @clients.each do |client|%>
      <div class="client p-4 rounded-md border border-gray-300 bg-gray-100 shadow-sm">
        <div class="full_name text-center p-2">
          <%= link_to "#{client.first_name} #{client.last_name}", client, class: 'underline text-blue-600 hover:text-blue-300' %>
        </div>
        <div class="email text-center">
          <%= client.email %>
        </div>
        <div class="phone text-center">
          <%= client.phone %>
        </div>
        <div class="px-1 pt-4 pb-2 grid justify-items-center grid-cols-3">
          <%= link_to client_path(client) do %>
            <span class="bg-gray-200 text-gray-700 rounded-full px-3 py-1 text-xs font-light  mr-2 mb-2">View</span>
          <%end%>
          <%= link_to edit_client_path(client), class: "bg-blue-600 hover:bg-blue-300 text-white rounded-full px-3 py-1 text-xs font-light  mr-2 mb-2" do%>
            <span class="">Edit</span>
          <%end%>
          <%= button_to  client_path(client), method: :delete do %>
            <span class="bg-red-500 text-white rounded-full px-3 py-1 text-xs font-light  mr-2 mb-2">Remove</span>
          <%end%>
        </div>
      </div>
    <%end%>
  <div>
</div>
