<div class="w-full">
  <div class="flex justify-around items-center">
    <h1 class="title">Clients</h1>
    <%= link_to 'New Client', new_client_path, class: "btn-lg-blue" %>
  </div>

  <div class="clients">
    <% @clients.each do |client|%>
      <div class="client">
        <div class="full-name">
          <%= link_to "#{client.first_name} #{client.last_name}", client, class: 'underline text-blue-600 hover:text-blue-300' %>
        </div>
        <div class="email">
          <%= client.email %>
        </div>
        <div class="phone">
          <%= client.phone %>
        </div>
        <div class="acction-btns">
          <%= link_to client_path(client), class: "btn-xs-gray" do %>
            <span>View</span>
          <%end%>
          <%= link_to edit_client_path(client), class: "btn-xs-blue" do%>
            <span>Edit</span>
          <%end%>
          <%= button_to  client_path(client), class: "btn-xs-red",method: :delete do %>
            <span>Remove</span>
          <%end%>
        </div>
      </div>
    <%end%>
  <div>
</div>
